<a href="https://colab.research.google.com/github/anchalaug25/ml_anchal/blob/main/hsv2_git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving data_science_job.csv to data_science_job.csv

In [ ]:
df=pd.read_csv("data_science_job.csv")

In [ ]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0

In [ ]:
df.isnull().mean()*100 #till here there is only city development index not its mean or median

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [ ]:
df["city_dev_mean"]=df["city_development_index"].fillna(df["city_development_index"].mean(),inplace=True) #fill missing value of tis column w mean

<ipython-input-7-51cebf8b86c1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["city_dev_mean"]=df["city_development_index"].fillna(df["city_development_index"].mean(),inplace=True) #fill missing value of tis column w mean

In [ ]:
df.isnull().mean()*100

enrollee_id                 0.000000
city                        0.000000
city_development_index      0.000000
gender                     23.530640
relevent_experience         0.000000
enrolled_university         2.014824
education_level             2.401086
major_discipline           14.683161
experience                  0.339284
company_size               30.994885
company_type               32.049274
training_hours              3.998330
target                      0.000000
city_dev_mean             100.000000
dtype: float64

In [ ]:
df["training_hours_median"]=df["training_hours"].fillna(df["training_hours"].median(),inplace=True)

<ipython-input-9-d1c6ce2acc2b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["training_hours_median"]=df["training_hours"].fillna(df["training_hours"].median(),inplace=True)

In [ ]:
df.isnull().mean()*100

enrollee_id                 0.000000
city                        0.000000
city_development_index      0.000000
gender                     23.530640
relevent_experience         0.000000
enrolled_university         2.014824
education_level             2.401086
major_discipline           14.683161
experience                  0.339284
company_size               30.994885
company_type               32.049274
training_hours              0.000000
target                      0.000000
city_dev_mean             100.000000
training_hours_median     100.000000
dtype: float64

In [ ]:
df[["city_dev_mean","city_development_index"]].head(100)

   city_dev_mean  city_development_index
0           None                   0.920
1           None                   0.776
2           None                   0.624
3           None                   0.789
4           None                   0.767
..           ...                     ...
95          None                   0.802
96          None                   0.920
97          None                   0.579
98          None                   0.802
99          None                   0.550

[100 rows x 2 columns]

In [ ]:
df[["training_hours_median","training_hours"]]

      training_hours_median  training_hours
0                      None            36.0
1                      None            47.0
2                      None            83.0
3                      None            52.0
4                      None             8.0
...                     ...             ...
19153                  None            42.0
19154                  None            52.0
19155                  None            44.0
19156                  None            97.0
19157                  None           127.0

[19158 rows x 2 columns]

In [ ]:
#MODE IMPUTATION
df.isnull().mean()*100

enrollee_id                 0.000000
city                        0.000000
city_development_index      0.000000
gender                     23.530640
relevent_experience         0.000000
enrolled_university         2.014824
education_level             2.401086
major_discipline           14.683161
experience                  0.339284
company_size               30.994885
company_type               32.049274
training_hours              0.000000
target                      0.000000
city_dev_mean             100.000000
training_hours_median     100.000000
dtype: float64

In [ ]:
df["education_level"].unique() #now this is categorical data ,here msv there so we do by mode

array(['Graduate', 'Masters', 'High School', nan, 'Phd', 'Primary School'],
      dtype=object)

In [ ]:
mode=df["education_level"].fillna(df["education_level"].mode,inplace=True)

In [ ]:
df.isnull().mean()*100

enrollee_id                 0.000000
city                        0.000000
city_development_index      0.000000
gender                     23.530640
relevent_experience         0.000000
enrolled_university         2.014824
education_level             0.000000
major_discipline           14.683161
experience                  0.339284
company_size               30.994885
company_type               32.049274
training_hours              0.000000
target                      0.000000
city_dev_mean             100.000000
training_hours_median     100.000000
dtype: float64

In [ ]:
df[df["education_level"].isnull()] #check where is nan value in edc lvl

Empty DataFrame
Columns: [enrollee_id, city, city_development_index, gender, relevent_experience, enrolled_university, education_level, major_discipline, experience, company_size, company_type, training_hours, target, city_dev_mean, training_hours_median]
Index: []

In [ ]:
#IT MEANS NOW THERE IS NO MISSING VALUE IN EDUCATION LEVEL